body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3ED03F;
  background: -webkit-linear-gradient(right, #3ED03F, #C528BD);
  background: -moz-linear-gradient(right, #3ED03F, #C528BD);
  background: linear-gradient(to left, #3ED03F, #C528BD);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
